/* seleccionDeClass.css */

.contenedor-selector h1 {
    display: flex ;
    justify-content: center;
}
.card-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card.selected {
    border: 2px solid #ff8800;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 5px 0;
  }
  .container-button-select{
    display: flex;
    justify-content: center;
  }
  .confirm-button {
    background-color: #ff8800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .confirm-button:hover {
    background-color: #895214;
  }
  